<!-- About Page -->
<section class="about">
  <h2>About Me</h2>
  <p>My name is Rickson Gurung, and I'm a dedicated student with a deep passion
    for building websites and constantly learning about new technologies. My
    journey into the world of web development began during my college years when
    I discovered a profound love for coding. This passion drove me to pursue my
    current course Interactive Media Design Web (IMDW), where I honed my skills
    in developing websites.</p>

  <p>Outside of my professional life, I have a keen interest in traveling and
    experiencing different cultures. I also love exploring new cuisines, as I
    believe food is an essential part of understanding and appreciating
    different cultures around the world. These interests not only enrich my
    personal life but also inspire my work as a developer, bringing a fresh
    perspective and creativity to my projects.</p>
</section>