<!-- Home Page -->
<section class="home">
  <div class="home-content">
    <p>HEY THERE,</p>
    <h2>I AM RICKSON GURUNG</h2>
    <p>I'm a passionate web developer and computer enthusiast. I'm currently
      studying at Georgian College, and this is my final semester. Throughout my
      journey in computer science, I've gained skills in web development,
      programming, and problem-solving. My portfolio showcases my projects and
      abilities, reflecting my dedication to learning and improvement. I've
      worked on various projects, from small personal websites to large-scale
      applications.</p>
    <p>I've taken courses in HTML, CSS, JavaScript, UX/UI, Photoshop, ASP.NET,
      C#, and many more. Each project in my portfolio highlights my attention to
      detail and creativity in finding solutions to complex problems.</p>
    <p>Please explore my portfolio to learn more about my skills and background.
      If you have any questions or want to collaborate, feel free to reach out.
      I'm always excited to connect with fellow developers and enthusiasts!</p>
    <!-- Button -->  
    <a href="/projects" class="btn">View Projects</a>
  </div>
  <!-- Image -->
  <div class="home-image">
    <img src="/images/rickson_img.jpg" alt="Rickson Gurung" />
  </div>
</section>