<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>&copy; RicksonGurung 2024 | My Portfolio</p>
      <a href="https://github.com/Rickson510" target="_blank">GitHub</a>
      |
      <a href="https://ca.linkedin.com/" target="_blank">LinkedIn</a>
    </footer>
  </body>
</html>