<!-- Project page -->
<section class="projects">
  <h2 class="section-title">Projects</h2>
  <a
    href="https://lamp.computerstudi.es/~Rickson200528540/"
    target="_blank"
    class="project-link"
  >
    <div class="project">
      <img
        src="/images/project1_img.webp"
        alt="Project One"
        class="project-image"
      />
      <div class="project-details">
        <h3>Portfolio Website</h3>
        <p>This was the final assignment for my HTML and CSS class in college.
          The objective was to create a website that showcased our skills and
          projects.</p>
        <p>Technologies Used: HTML and CSS</p>
        <p>Challenges: Ensuring cross-browser compatibility and responsive
          design were key challenges. I also focused on making the site visually
          appealing and user-friendly.</p>
        <p>Outcome: Successfully built a responsive and visually appealing
          website that effectively showcased my projects and skills.</p>
      </div>
    </div>
  </a>
  <a
    href="https://lamp.computerstudi.es/~Rickson200528540/"
    target="_blank"
    class="project-link"
  >
    <div class="project">
      <img
        src="/images/project2_img.png"
        alt="Project Two"
        class="project-image"
      />
      <div class="project-details">
        <h3>E-commerce Prototype</h3>
        <p>This project was the final assignment for my UX/UI class. We were
          tasked with designing an e-commerce website prototype that focused on
          user experience and interface design.</p>
        <p>Technologies Used: Adobe XD, Figma</p>
        <p>Challenges: The main challenge was to create a seamless and intuitive
          user journey, from browsing products to completing a purchase.</p>
        <p>Outcome: Delivered a interactive and user-friendly e-commerce
          prototype.</p>
      </div>
    </div>
  </a>
  <a
    href="https://lamp.computerstudi.es/~Rickson200528540/"
    target="_blank"
    class="project-link"
  >
    <div class="project">
      <img
        src="/images/project3_img.jpg"
        alt="Project Three"
        class="project-image"
      />
      <div class="project-details">
        <h3>Simple JavaScript Quiz</h3>
        <p>This project was a assignment for my JavaScript class. The task was
          to create a simple quiz application that allows users to answer
          multiple-choice questions and get their scores.</p>
        <p>Technologies Used: HTML, CSS, JavaScript</p>
        <p>Challenges: The main challenge was to ensure the quiz logic was
          correct.</p>
        <p>Outcome: Developed a simple, interactive quiz application that
          provides feedback and displays the user's score at the end of the
          quiz.</p>
      </div>
    </div>
  </a>
</section>